@import "indexes";
* {
  margin: 0 auto;
  padding: 0;
  color: white;
}

div {
  display: block;
}

html {
  font-size: $fontSize;
}

body {
  font-size: $fontSize;
  line-height: 1.42857143;
  color: #333;
  font-family: "Microsoft YaHei";

  .bg-img {
    padding-right: 0;
    padding-left: 0;
    height: 768px;
    width: 1366px;
    background: url(../img/index-bg-main.png) no-repeat;
    .main-warp {
      z-index: 0;
      padding-right: 0;
      padding-left: 0;
      height: 768px;
      width: 1241px;
      .logo {
        position: absolute;
        top: 20px;
        left: 50px;
        width: 352px;
        height: 45px;
        background: url(../img/logo.png) no-repeat;
      }
      .header {
        .login {
          position: absolute;
          top: 32px;
          float: left;
          margin-left: 89%;
          a {
            color: white;
            font-size: 14px;
            &:hover {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
      .logo2 {
        position: absolute;
        z-index: -1;
        width: 128px;
        height: 18px;
        top: 85%;
        margin-left: 6%;
      }
      .row {
        padding-top: 130px;
        width: 100%;
        padding-left: 48px;
        .col-md-3 {
          text-align: center;
          .view {
            width: 306px;
            height: 137px;
            display: none;
            margin-left: -6%;
            background: url(../img/tooltip-bg.png) no-repeat;
          }
          p {
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: left;
          }
          .img {
            margin-top: 30px;
            margin-bottom: 5px;
            text-align: center;
          }
          .round {
            padding-top: 30px;
            background-color: #f9fffd;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            @for $i from 0 through 3 {
              .img-#{$i + 1} {
                width: 100px;
                height: 100px;
                background: url("../img/main-all.png") -98px -#{$i * 100}px no-repeat;
              }
            }
            &:hover ~ {
              .view1, .view2, .view3, .view4 {
                display: block;
              }
            }
            &:hover {
              background: #00BFFF;
              cursor: pointer;
              @for $i from 0 through 3 {
                .img-#{$i + 1} {
                  background: url("../img/main-all.png") 0 -#{$i * 100}px no-repeat;
                }
              }
            }
          }
            .img-review {
              width: 101px;
              height: 22px;
              background: url(../img/review-tit.png) no-repeat;
            }

            .img-public {
              width: 75px;
              height: 23px;
              background: url(../img/public-tit.png) no-repeat;
            }

            .img-know {
              width: 149px;
              height: 21px;
              background: url(../img/knowledge-tit.png) no-repeat;
            }

            .img-law {
              width: 124px;
              height: 21px;
              background: url(../img/lawrule-tit.png) no-repeat;
            }
          }
        }
        .box {
          padding-left: 18px;
          margin-top: 263px;
          margin-left: -3%;
          width: 104%;
          height: 280px;
          background-color: #f5f5f5;
          .out-border {
            position: relative;
            float: left;
            height: 252px;
            top: 13px;
            background-color: #f5f5f5;
            border: 1px #d3d3d3 solid;
            box-shadow: 1px 1px 7px #cfcfcf;
          }
          .box-border {
            position: relative;
            display: block;
            top: 5px;
            left: 4px;
            float: left;
            border: 1px #d3d3d3 solid;
            box-shadow: 1px 1px 7px #cfcfcf;
          }
          @for $i from 1 through 5 {
            .color-#{$i - 1} {
              background: nth($color,$i)
            }
          }
          .box2-child2,
          .box2-child3 {
            width: 98%;
            height: 240px;
            margin-right: 3%;
            .loader {
              margin-top: -51%;
            }
          }
          .box2-child1 {
            width: 95%;
            height: 240px;
            margin-right: 3%;
            background-color: white;
            .loader {
              margin-top: -177%;
            }
            .num {
              width: 100%;
              height: 100%;
            }
            strong {
              font-size: 18px;
              display: block;
              margin-top: 15%;
              text-align: center;
              color: black;
            }
            h3 {
              text-align: center;
              color: red;
            }
          }
          .out-border-first {
            width: 31%;
            margin-left: 0;
            margin-right: 2%;
            .box1-child {
              margin-right: 1%;
              width: 98%;
              height: 240px;
              .loader {
                margin-top: -65%;
              }
            }
          }
          .out-border-ware-first {
            width: 13%;
            margin-left: 7px;
            margin-right: 34px;
          }
          .out-border-ware {
            width: 39%;
            margin-left: -11px;
            margin-right: 40px;
          }
          .loader {
            width: 100%;
            height: 100%;
            background: url("../img/loading.gif") no-repeat center;
          }
        }
        .box-size {
          > div {
            width: 16%;
            height: 160px;
            margin-left: 3%;
            margin-top: 35px;
            > {
              strong {
                color: black;
                display: block;
                width: 100%;
                height: 75%;
                font-size: 25px;
                text-align: center;
                padding-top: 25%;
                background-color: white;
              }
              h3 {
                text-align: center;
                padding-top: 8px;
                padding-bottom: 8px;
                margin: 0 0;
                font-size: 17px;
                font-weight: 700;
              }
            }
          }
          .loader {
            width: 102%;
            height: 100%;
            margin-left: -2%;
          }
        }
      }
    }
  }
